# Laravel
/vendor
/node_modules
/public/build
/bootstrap/cache
/storage
/.env
src/.env
src/vendor
src/node_modules
src/public/build
src/storage

# Local secret files
key
key.pub

# OS files
.DS_Store
Thumbs.db

# Logs and system files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.*.local
